[class*="col-"]{
    /* DEBUG */
    min-height: 50px;
    background-color: #006cfa;
    border: white solid 1px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.block{
    min-height: 30px;
    font-size: 14px;
}

.green{
    background-color: #00e165;
    border: #006cfa 1px solid;
}

.block.white{
    background-color: white;
    min-height: 15px;
}

.row .big{
    min-height: 100px;
}

.row .middle{
    min-height: 60px;
}

.row .small{
    height: 50px;
}
